  
  .form-field {
    width: 100%;
    position: relative;
  }
  
 .mat-select-panel {
    position: absolute;
    z-index: 1;
    width: 100%;
  } 
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* .input-field {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 1;
  } */
  
  ::ng-deep .mat-form-field .mat-form-field-required-marker {
    display: none;
  }

  .content {
    background-color: #ffffff;
    padding: 4px;
    position: relative;
  }

  .container-content{
    background-color: #ffffff;
    position: relative;
  }

  ::ng-deep .form-field.mat-form-field .mat-form-field-wrapper,::ng-deep .mat-form-field {
    position: relative;
  }
  
  ::ng-deep .form-field.mat-form-field .mat-select-panel {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 4px;
  } 

  .input-field-container {
    display: flex;
    align-items: center;
  }
  
  .euro-symbol {
    margin-left: 4px; /* Adjust the margin value as needed */
  }

  .visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .input-button {
    display: inline-block;
    padding: 4px 16px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-button:hover {
    background-color: #d0d0d0;
  }

  .allergy-image{
    margin:0px 10px;
    height:25px;
    width:25px;
  }

  .allergy-item{
    display: inline-block;
    padding: 10px;
    min-width: 160px;
  }

  .product-image{
    height:60px;
    width:60px;
    margin:0px 20px;
    display: inline-block;
  }

  .printing-label {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 9999;
    box-shadow: -3px 4px 9px #65655c;
    /* Add additional styles as needed */
  }
  
  .content {
    background-color: white;
    width:700px;
    /* Add additional styles for content */
  }

  .logo{
    width:200px;
  }
  
  


  
  