<div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-6 text-center pt-5">
          <img src="./../../assets/logo.jpg" alt="Logo" width="200">
          <!-- <h4 class="pt-4">Food Allergies</h4> -->
        </div>
        <div class="col-md-6 form-container">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" [(ngModel)]="email">
          </div>
          <div class="text-start">
            <a href="#" class="sign-link" routerLink="/">Sign In</a>
          </div>
           <div class="text-end">
            <button type="submit" class="btn btn-primary" (click)="sendLink()">Send Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>